{% extends 'base.html.twig' %}

{% block title %}Modifier un themes{% endblock %}

{% block body %}
<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>Formulaire de modification</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Tableau de bord</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Formulaire de modification d'un dahira</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-6 col-sm-12 text-right">
            <a class="btn btn-success" href="{{ path('app_themes_index') }}">
                Liste des themes
            </a>
        </div>
    </div>
</div>

<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="text-success h4">Modifier un dahira</h4>
            <p class="mb-30">Veuillez remplir les informations ci-dessous</p>
        </div>
    </div>

    {{ include('themes/_form.html.twig', {'button_label': 'Modifier'}) }}
</div>

{% endblock %}
